* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(#512a8b 46%, black 46%, black 54%, white 54%);
    display: grid;
    place-items: center;
    position: relative;
    animation: swing-anim 1.5s ease-in-out alternate infinite;
    animation: pulseAnimation 15s infinite;
    animation-name: roll02;
}

.top_left {
    border-radius: 60% 60% 40% 40%;
    background-color: #da0082;
    height: 30px;
    position: absolute;
    width: 60px;
    transform: rotateZ(-45deg);
    top: 10px;
    left: -8px;
}

.top_m {
    color: white;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    top: 8px;
}

.top_right {
    border-radius: 60% 60% 40% 40%;
    background-color: #da0082;
    height: 30px;
    position: absolute;
    width: 60px;
    transform: rotateZ(45deg);
    top: 10px;
    right: -8px;
}

.shadow {
    margin: auto;
    width: 100px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(6px);
}

.center {
    border-radius: 50%;
    border: 7px solid black;
    height: 25%;
    width: 25%;
    background-color: #f5f5f5;
    display: grid;
    place-items: center;
}

.center-button {
    border-radius: 50%;
    border: none;
    display: block;
    height: 20px;
    width: 20px;
    box-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.2),
        -3px -3px 4px rgba(255, 255, 255, 0.2);
    background-color: #ffffff;
}

.center-button:active {
    box-shadow:
        inset 2px 2px 3px rgba(0, 0, 0, 0.2),
        inset -3px -3px 3px rgba(255, 255, 255, 0.2);
}



/* ボールを中心に移動している */
body {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #EAF3FB;
}

div{
    animation: blight-anim 1.5s ease-in-out alternate infinite;
}

@keyframes swing-anim {
    30% {
        translate: 0px;
        rotate: 0deg;
    }

    40% {
        translate: 20px;
        rotate: 25deg;
    }

    60% {
        translate: -20px;
        rotate: -25deg;
    }

    70% {
        translate: 0px;
        rotate: 0deg;
    }

    100% {
        translate: 0px;
        rotate: 0deg;
    }
}

@keyframes blight-anim {
    30% {
        background-color: #f5f5f5;
    }

    40% {
        background-color: #FFE666;
    }

    60% {
        background-color: #FFE666;
    }

    70% {
        background-color: #f5f5f5;
    }
}

@keyframes pulseAnimation {
    0% {
    transform: scale(1);
    opacity: 1;
    }
    50% {
    transform: scale(1.4);
    opacity: 0.6;
    }
    100% {
    transform: scale(1.7);
    opacity: 0;
    }
    }

    @keyframes roll02 {
        from  { transform: translateX(-12vw) rotate(1deg) translateY(-10vw); }
        25% { transform: translateX(25vw) rotate(495deg) translateY(-40);}
        50% { transform: translateX(50vw) rotate(990deg);}
        75% { transform: translateX(70vw) rotate(1400deg) ;}
        to { transform: translateX(100vw) rotate(1980deg) translateY(10000000000); }
    }